[Desktop Entry]
Comment[de_DE]=
Comment=
Exec="/bin/python" "/home/zombie/ai-coder-kimi/aicoder_main.py" "gui"
GenericName[de_DE]=
GenericName=
MimeType=
Name[de_DE]=AI-Coder-Kimi
Name=AI-Coder-Kimi
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
